body {
    background-color: #F8F8F8!important;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    
}



.social-links ul, li{
    
    list-style-type:none;
    display: inline;
    padding: 0;
    list-style-type: none;
}

.social{
	width:20px;
	height: 20px;
}

ul {
    list-style-type:none;
    display: inline;
    padding: 0;
    list-style-type: none;
}